In [40]:
import pymysql 
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="root",database="11to12")
curobj=conobj.cursor()
rowcount_s=curobj.execute("select ename, esal , empid from emp where edept = 'hr'")
insert_i=curobj.execute("insert into emp values(13,225,'naveen',10000,'hr1')")

print(insert_i,"rows are inserted")
print(rowcount_s,"rows selected")
conobj.close()

1 rows are inserted
2 rows selected

In [3]:
import pymysql 
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="root",database="11to12")
curobj=conobj.cursor()
delet_d=curobj.execute("delete from emp where empid = 35")
print(delet_d,"rows are inserted")
conobj.close()

0 rows are inserted

In [11]:
import pymysql 
conobj=pymysql.connect(host="localhost",port=3306,user="root",password="root",database="11to12")
curobj=conobj.cursor()
empid=int(input('enter the empid = '))
rowcount_s=curobj.execute("select * from emp where empid =%s",(empid,))
print(rowcount_s,"rows are inserted")
if rowcount_s==0:
    print("record does not exist")
else:
    print("welcome")
    print(curobj.fetchone())
conobj.close()

enter the empid =  102

1 rows are inserted
welcome
(4, 102, 'sachin', 24000, 'hr1')

In [33]:
from tkinter import * 
def search():
    empid=int(e.get())
    import pymysql 
    conobj=pymysql.connect(host="localhost",port=3306,user="root",password="root",database="11to12")
    curobj=conobj.cursor()
    empid=int(input('enter the empid = '))
    rowcount_s=curobj.execute("select * from emp where empid =%s",(empid,))
    print(rowcount_s,"rows are inserted")
    if rowcount_s==0:
        lbl=Label(win, text="emp does nt exist",font=('arial',20),bg='yellow')
        lbl.place(x=300,y=330)
    else:
        lbl=Label(win, text="welcome",font=('arial',20),bg='yellow')
        lbl.place(x=300,y=330)
    conobj.close()

win=Tk()
win.state('zoomed')
win.configure(bg='blue')

lbl=Label(win, text="empid",font=('arial',20),bg='yellow')
lbl.place(x=30,y=330)

e=Entry(win,font=('arial',20),bd=5)
e.place(x=300,y=330)

b=Button(win,text="search",font=('arial',))
b.place(x=350,y=500)
win.mainloop()

In [35]:
import sqlite3
conobj=sqlite3.connect(database="mydb.sqlite") #twd
curobj=conobj.cursor()
curobj.execute("create table emp(eid int,ename text,esal float)")
conobj.close()
print("table create")

OperationalError: table emp already exists

In [41]:
import sqlite3
conobj=sqlite3.connect(database="mydb.sqlite") #twd
curobj=conobj.cursor()
eid=int(input("enter eid = "))
ename=input("enter ename = ")
esal=float(input("enter esal = "))

curobj.execute("insert into emp values(?,?,?)",(eid,ename,esal))
conobj.commit()
conobj.close()
print("record is added")

enter eid =  54
enter ename =  varu
enter esal =  55500055

record is added

In [43]:
import sqlite3
conobj=sqlite3.connect(database="mydb.sqlite") #twd
curobj=conobj.cursor()
curobj.execute("select * from emp")
tups=curobj.fetchall()
print(tups)

conobj.close()

[(23, 'karan', 6433.0), (54, 'varu', 55500055.0)]